domain_name: svc.cluster.local
pathToBAF: /home/uclazureuser/baf/blockchain-automation-framework
cloud_provider: minikube

BAFChaincodePath: examples/supplychain-app/fabric/chaincode_rest_server/chaincode/

BAFk8s:
  context: "cluster.local"
  config_file: "~/.kube/config"

vault:
  url: "http://172.16.0.6:30000"
  root_token: "s.2wcg8y5VfZvKtkZIblKLS3fw"


organizations:
- id: 1
  name: carrier
  orderer: supplychain
  numberOfPeers: 1 #if 0 then endorser should be false 
  endorser: true #if false then numberOfPeers should be 0 (even if not, the script will count it as 0)

- id: 2
  name: buyer
  orderer: supplychain
  numberOfPeers: 1
  endorser: true

- id: 3
  name: supplychain
  orderer: supplychain
  numberOfPeers: 2
  endorser: false

